
        body {
            font-family: sans-serif;
            margin: 0;
            background-color: #f0f0f0;
            background-image:url('background.jpg');
        }
        .container {
            padding: 20px;
        }
        .header-box {
            background-color: #f7f3e8;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }

        .header-title {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 5px;
            color: #6a4f3b;
            margin-right: 20px;
        }

        .color-palette {
            display: flex;
        }

        .color-swatch {
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }

        .demo-box {
            background-color: #f7f3e8;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .main-content {
            display: flex;
            justify-content: space-between;
        }

        .about-box {
            background-color: #f7f3e8;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 60%;
        }

        .dinosaur-img {
            width:50;
            height:30;
        }
        img{
            width:10;
            height:30; 
        }
    